### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

## Compiled ##
.class
/src/Application/Program.class
/src/Application/UI.class
/src/boardgame/Board.class
/src/boardgame/BoardException.class
/src/boardgame/Piece.class
/src/boardgame/Position.class
/src/Chess/Pieces/King.class
/src/Chess/Pieces/Rook.class
/src/Chess/ChessException.class
/src/Chess/ChessMatch.class
/src/Chess/ChessPiece.class
/src/Chess/ChessPosition.class
/src/Chess/Color.class
